@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
    font-family: 'Lucida Sans';
}

body {
     margin: 0;
    padding: 0;
    background-color: #b884bb;
    
}
.contendor{
    font-size: large;
}

header {
    background: #67406d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.descripcion, .servicios, .contacto {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.lista-titulo{
    margin: 5px;
}

.separacion{
    padding: 15px 0;
}

h2 {
    text-align: center;
    color: #333;
    text-decoration: underline;
}